/* ############### RESET START ############### */
/*http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126  License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ############### RESET END ############### */



/* GLOBAL */
h1 {
	font-family: 'Special Elite', cursive;
	font-size: 4em;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 2.2em;
	letter-spacing: 0.05em;
}

h3 {
	font-family: 'Special Elite', cursive;
	color: #f50;
	font-size: 0.9em;
	margin-top: 25px;
}

h4 {
	font-family: 'Playfair Display', serif;
	letter-spacing: .2em;
	clear: right;
}

p {
	font-family: 'Lato', sans-serif;
	font-size: 0.7em;
}

li {
	font-family: 'Special Elite', cursive;
	font-size: 0.7em;
}

nav {
	font-family: 'Special Elite', cursive;
	font-size: 1.2em;
}

span {
	font-family: 'Special Elite', cursive;
	font-size: 0.7em;
}

body {
	
}

section {
	overflow: hidden;
}



/* HERO */
.hero {
  background-size: 100%;
  color: white;
  width: 100%;
  height: 639px;
  position: fixed;
  z-index: -1;
}

.hero-text {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	top: 319px;
	transform: translateY(-50%);
	color: white;
}

.hero nav {
  position: relative;
  max-width: 960px;
	margin: 0 auto;
  text-align: right;
  top: 0;
}

.hero li {
	display: inline-block;
}

.hero a {
	text-decoration: none;
	margin-left: 10px;
	color: white;
}

.hero-text h1 {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 19px 8px 12px 8px;
	display: inline-block;
	margin: 18px auto;
}

video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -2;
}



/* MENU */
#menu {
	position: relative;
	top: 600px;
	max-width: 960px;
	margin: 0 auto 110px;
	line-height: 1em;
	background-color: #e1e1e1;
}

#menu h2 {
	margin-bottom: 45px;
	border-bottom: 2px solid #ddd;
	line-height: 1.5em;
}

.col-left {
	max-width: 400px;
	float: left;
}

.col-right {
	max-width: 400px;
	float: right;
}

#menu img {
	margin: 15px 0 10px;
}



/* LOCATION */
#location {
	background-image: url("../img/bg.jpg");
  height: 515px;
  position: relative;
  color: white;
}

#location h2 {
	max-width: 960px;
	margin: 0 auto;
}

#location li {
	max-width: 960px;
	margin: 0 auto;
}

.columns {
	max-width: 960px;
	margin: 0 auto;
}

.col {
	float: left;
	max-width: 50%;
	margin: 50px 0;
}

/* OUR-STORY */
#our-story {
  background-image: url("../img/blanket-crop.jpg");
  height: 536px;
  position: relative;
  background-size: 100%;
}

.story {
	background-color: #eee;
	margin: 0 150px;
}

.story img {
	position: relative;
	float: right;

}

.story h2 {
	color: black;
}

.story p {
	color: black;
}