/* BODY */
html, body {
  background: #fff; /* DONE */
  font-family: 'Raleway', sans-serif; /* DONE */
  margin: 0;
}

.body-wrap {
  width: 800px;
  margin: 0 auto;
}



/* HERO */
.hero {
  background-color: #E04A50;
  color: white;
  position: relative;
  display: block;
}

.hero img {
  opacity: 0.2;
  width: 800px;
  display: block;
}

.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.hero h1 {
  font-size: 2.4em;
  margin: 0;
}

.hero p {
  font-size: 0.67em;
}



/* MAIN */
main {
  margin: 30px 0 0 0;
  text-align: center;
}

.more-info h2 {
  padding: 3px;
  color: black;
  display: block;
  margin: 0;
  width: 100%;
}

.more-info p {
  font-size: 0.65em;
  margin: 0;
}

/* .columns width:100%; .col width:33%; float:left; */
.col {
  margin: 35px 90px 17px;
  /* width: 100%; */
}

.send-money {
  float: left;
  width: 33%;
}

.receive {
  display: inline-block;
  width: 33%;
}

.repeat {
  float: right;
  width: 33%;
}

.fa {
  color: #bbb;
}

.hover {
  display: inline-block;
  width: 150px;
  /* width: 33%;
  float: left; */
}

.hover p {
  visibility: hidden;
}

.hover:hover p {
  visibility: visible;
  font-size: 0.54em;
}

.circle {
  border-radius: 100%;
  background-color: #eee;
  border: 1px solid #ddd;
  width: 150px;
  height: 150px;
  text-align: center;
  display: inline-block;
}

h3 {
  border-radius: 100%;
  font-size: 0.8em;
}



/* FOOTER */
footer {
  background: #1A1626;
  color: white;
  padding: 20px;
  height: 20px;
  margin: 20px 0 0;
  padding: 0 20px;
}

footer p {
  font-size: 0.48em;
  line-height: 20px;
  margin: 0;
}
