/* BODY */
html, body {
  background: #fff; /* DONE */
  font-family: 'Raleway', sans-serif; /* DONE */
  margin: 0;
}

.body-wrap {
  width: 100%;
  margin: 0;
}



/* HERO */
.hero {
  color: white;
  background-image: url("../img/bg-resize.jpg");
  background-size: 100%;
  height: 635px; /*#*#*#*#* was 654px *#*#*#*#*/
  position: relative;
  display: block;
}

.hero-image {
  background-color: rgba(224,74,80,.8);
  width: 100%;
  height: 100%;
  display: block;
}
 
.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.hero h1 {
  font-size: 3.7em;
  margin: 0;
}

.hero p {
  font-size: 0.95em;
}



/* MAIN */
main {
  margin: 30px 0 0 0;
  text-align: center;
  color: #111;
}

.more-info h2 {
  font-size: 2.1em;
  padding: 3px;
  display: block;
  margin: 4% 0 0;
  width: 100%;
}

.more-info p {
  font-size: 0.84em;
  font-weight: 600;
  margin: 0;
}

<<<<<<< HEAD
.columns {
  width: 100%;
  overflow: hidden;
=======
/* test edit => .columns width:100%; .col width:33%; float:left; */
.col {
  margin: 35px 90px 17px;
  /* width: 100%; */
>>>>>>> origin/master
}

.col {
  width: 33%;
  float: left;
  margin-top: 50px;
}

.send-money {
  position: relative;
  left: 55px;
}

.repeat {
  position: relative;
  right: 55px;
}

.col p {
  display: inline-block;
}

.hover {
  transition: visibility 500ms; /*#*#*#* not working *#*#*#*/
}

.hover p {
  visibility: hidden;
}

.hover:hover p {
  visibility: visible;
  font-size: 0.70em;
  font-weight: 600;
  color: #666;
  width: 180px;
}

.circle {
  border-radius: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 180px;
  height: 180px;
  text-align: center;
  clear: both;
  display: block;
  margin: 0 auto;
}

.fa {
  color: #b5b5b5;
  font-size: 4.7em;
  line-height: 2.1em;
}

h3 {
  font-size: 0.95em;
  font-weight: 800;
  position: relative;
  top: -50px;
}



/* FOOTER */
footer {
  background: #1A1626;
  color: white;
  padding: 20px;
  height: 27px;
  margin: 30px 0 0;
  padding: 0 150px;
}

footer p {
  font-size: 0.55em;
  line-height: 25px;
  font-weight: 600;
  margin: 0;
}
