.container {
	background-color: rgba(255, 255, 255, 0.20);
	margin-left: 32px;
	padding: 44px 43px;
	width: 693px;
	min-height: 636px;
}

body {
	background: url('images/background.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	font-family: Georgia, serif;
	color: #000000;
}

h1 {
	font-weight: 900;
	font-size: 36px;
	margin-bottom: 10px;
}

h2 {
	font-size: 27px;
}

.personal-statement {
	margin: 26px 0;
}

.personal-statement p {
	line-height: 1.3;
	margin: 16px 0;
}

.lists {
	margin-bottom: 48px;
	overflow: hidden;
}

.list-box {
	float: left;
	width: 50%;
}

.list-box h3 {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: 700;
}

.list-box ul {
	padding-left: 18px;
	list-style: disc outside none;
}

.list-box ul li {
	padding-left: 3px;
	padding-right: 5px;
	margin-bottom: 12px;
}

ul.contact {
	list-style: none;
}

ul.contact li {
	display: inline-block;
}

.email {
	background: url('images/email.png'); no-repeat center center;
}

.twitter {
	background: url('images/twitter.png'); no-repeat center center;
}

.facebook {
	background: url('images/fb.png');
}

.icon {
	display: block;
	width: 35px;
	height: 35px;
	margin: 3px;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}