/* Defaults */

* {
  box-sizing:  border-box;
}

body {
  color: #555;
  font-family: Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight:  300;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 0.5em;
}

h2 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-weight: 600;
}

h3 {
  font-style: italic;
  font-weight: 400;
}

a {
  color: #00c;
}

ul {
  list-style: circle;
  padding-left: 20px;
}

/* Patterns */

.note-holder {
  position: relative;
}

.note-holder .note {
  color: #ccc;
  max-width: 200px;
  padding: 4px;
  position: absolute;
  right: 0;
  top: 0;
}


main {
  background: #333;
  display: block;
  margin: auto;
  max-width: 1120px;
  min-width: 900px;
  padding-left: 330px;
  position: relative;
}

.content {
  background:  white;
  display: inline-block;
  min-height: 100vh;
  padding: 0 50px 40px;
  width: 100%;
}

.contact {
  color: #ccc;
  font-size: 0.9em;
}

.profile {
  background: #eee;
  font-style: italic;
  margin: 2em 0 1em;
  padding: 25px;
}

.job-title {
  color: black;
  font-weight: bold;
}

.date {
  font-style: italic;
  font-size: 0.9em;
}

.content article {
  padding-left: 20px;
}


aside {
  color: white;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 330px;
}

aside a {
  color:white;
  text-decoration: none;
}

aside article {
  font-size: 0.9em;
  padding: 0 1em;
  text-align: left;
}

aside img {
  border-radius: 100%;
  padding: 14px 0;
  width: 110px;
}

aside ul {
  color: #ccc;
  list-style-type: square;
}

aside h2 {
  font-weight: 300;
}