/* ########## HOME PAGE ########## */
/* BODY */
.contact ul {
  -webkit-padding-start: 0;
  list-style-type: none;
}

html, body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.body-wrap {
  width: 100%;
  margin: 0;
}



/* HERO */
.hero {
  color: white;
  background-image: url("../img/bg-resize.jpg");
  background-size: 100%;
  height: 635px;
  position: relative;
  display: block;
  overflow: hidden;
}

.hero-image {
  background-color: rgba(224,74,80,.8);
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: 0 -10px 30px -10px #444 inset;
}
 
.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.hero h1 {
  font-size: 3.7em;
  margin: 0;
}

.hero p {
  font-size: 0.95em;
}

.subscribe {
  margin: 0 auto;
}

#mc_embed_signup_scroll div {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

input {
  height: 32px;
  padding: 0 10px;
  width: 300px;
  border: none;
  margin-top: 30px;
}

.button {
  height: 32px;
  width: 80px;
  color: #fff;
  background-color: #222;
  border: none;
  font-size: 0.65em;
  padding: 0 16px;
  border-radius: 2px;
  margin-left: -4px;
}



/* MAIN */
main {
  margin: 30px auto 0;
  text-align: center;
  color: #111;
  max-width: 800px;
  overflow: hidden;
}

.more-info {
  text-align: center;
}

.more-info h2 {
  font-size: 2.1em;
  padding: 3px;
  display: block;
  margin: 4% 0 0;
  width: 100%;
}

.more-info p {
  font-size: 0.84em;
  font-weight: 600;
  margin: 10px 0 0;
}

.more-info a {
  color: red;
}

.columns {
  width: 100%;
  overflow: hidden;
}

.col {
  width: 33%;
  float: left;
  margin-top: 50px;
}

.col p {
  margin-top: 10px;
  display: inline-block;
  float: left;
}

.hover p {
  visibility: hidden;
  font-size: 0.70em;
  font-weight: 600;
  color: #444;
  width: 180px;
  opacity: 0;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
}

.hover:hover p {
  visibility: visible;
  opacity: 1;
}

.circle {
  border-radius: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 180px;
  height: 180px;
  text-align: center;
  clear: both;
  display: block;
  margin: 0 auto;
}

.fa {
  color: #b0b0b0;
  font-size: 4.7em;
  line-height: 2.1em;
}

h3 {
  font-size: 0.95em;
  font-weight: 800;
  position: relative;
  top: -50px;
}



/* FOOTER */
footer {
  background: #1A1626;
  color: white;
  height: 27px;
  margin: 30px 0 0;
}

footer p {
  font-size: 0.55em;
  line-height: 28px;
  font-weight: 600;
  margin: 0;
}



/* FOOTER */
.footer-content {
  max-width: 800px;
  margin: 0 auto;
}



/* ########## VIDEO (ABOUT) & CONTACT PAGE ########## */
/* HEADER */
header h2, p, nav, ul, li{
  display: inline-block;
  margin: 0;
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
  background-color: rgb(224,74,80);
  color: white;
  font-size: 0.55em;
  line-height: 25px;
  font-weight: 600;
}

header h2 {
  margin-right: 10px;
}

nav {
  position: relative;
  float: right;
}

header li {
  margin-left: 7px;
}

nav a {
  color: white;
}



/* ########## VIDEO (ABOUT) PAGE ########## */
/* HERO */
.page-video .hero {
  background-image: none;
  background-color: #000;
  height: 360px;
  position: relative;
  width: 100%;
}

.page-video .hero-video {
  width: 640px;
  height: 100%;
  margin: 0 auto;
}



/* MAIN */
.testimonials h1 {
  text-align: left;
  padding: 10px 0;
  font-size: 2em;
}

.testimonials .post {
  background-color: #cfbdaf;
  max-width: 355px;
  height: 75px;
  border-radius: 7px;
  margin-top: 17px;
  padding: 15px;
  text-align: left;
  display: inline-block;
  float: left;
}

.column {
  float: left;
  display: inline-block;
  margin-bottom: 30px;
}

.post img {
  border-radius: 100%;
  height: 70px;
  float: left;
  border: 2px solid #fff;
  display: inline;
  margin-right: 18px;
}

.post p {
  font-size: 0.75em;
  font-weight: 600;
  display: inline;
}

.testimonials .post:nth-child(even) {
  background-color: #1a1625;
  color: #fff;
  margin-left: 30px;
}

.testimonials .post:nth-child(even) p {
  font-weight: 500;
}



/* ########## CONTACT PAGE ########## */
/* HERO */
.page-contact .hero {
  height: 300px;
}

.page-contact h1 {
  font-size: 3.1em;
}



/* MAIN */
body {
  background-color: #f2f2f2;
}

main {
  position: relative;
  display: block;
  /*top: 460px;*/
  max-width: 800px;
  left: 0;
  text-align: left;
}

.twitter h2 {
  font-size: 1.2em;
  font-style: bold;
}

.twitter {
  max-width: 380px;
}

.follow {
  position: relative;
  top: -656px;
  max-width: 380px;
  left: 420px;
}

.follow h2 {
  font-size: 1.2em;
}

.maps {
  width: 100%;
  height: 530px;
}

.contact ul li {
  margin: 0;
  position: relative;
}

.page-contact .fa {
  font-size: 2em;
  line-height: 1em;
  letter-spacing: 0.4em;
}



/* FOOTER */
.page-contact footer {
  margin: 0;
}



/********** MEDIA QUERY **********/
@media (max-width: 767px) {
  /* ########## HOME PAGE ########## */
  .hero {
    color: white;
    background-image: url("../img/bg-resize-mobile.jpg");
    background-size: 100%;
    height: 120vh;
    width: 100%;
    position: relative;
    display: block;
  }
  .hero h1 {
    font-size: 3.4em;
    margin-bottom: 40px;
    padding: 0 5%
  }
  .hero p {
    font-size: 1.7em;
    font-weight: 500;
    margin: 0;
    padding: 5%;
  }
  .hero p strong {
    font-weight: 700;
  }
  .more-info h2 {
    font-size: 2.8em;
    padding: 0px;
    display: block;
    margin: 16% auto 0%;
    width: 80%;
    flex-wrap: wrap;
  }
  .more-info p {
    display: none;
  }
  .col {
    width: 100%;
    margin-top: 40px;
    position: relative;
  }
  .hover p {
    visibility: visible;
    opacity: 1;
    font-size: 1.6em;
    font-weight: 500;
    width: 85%;
    text-align: left;
    margin-left: 5%;
    margin-top: 20px;
  }
  .circle {
    width: 260px;
    height: 260px;
    text-align: center;
    clear: both;
    display: block;
    margin: 0 auto;
  }
  .fa {
    font-size: 6em;
    line-height: 2.1em;
  }
  h3 {
    font-size: 1.3em;
    font-weight: 800;
    position: relative;
    top: -60px;
  }
  .send-money {
    position: relative;
    left: 0px;
  }
  .repeat {
    position: relative;
    right: 0px;
  }
  footer {
    padding: 5vh;
    height: 10vh;
    margin: 5vh 0 0;
    padding: 0;
  }
  footer p {
    font-size: 1em;
    line-height: 62px;
    font-weight: 500;
    margin: 0 0 0 5%;
  }
  /* ########## VIDEO (ABOUT) & CONTACT PAGE ########## */
  .header-content {
    margin: 0 5%;
    display
  }
  header p {
    display: none;
  }
  header h2 {
    display: block;
    font-size: 2.6em;
  }
  nav {
    float: left;
    left: -47px;
    font-size: 2em;
  }
  /* ########## VIDEO (ABOUT) PAGE ########## */
  main {
    margin-top: 10px;
  }
  .testimonials {
    margin: 0 5%;
  }
  .testimonials h1 {
    margin: 0;
  }
  .testimonials .post {
    max-width: 90%;
    margin: 15px auto;
  }
  .testimonials .post:nth-child(even) {
    margin-left: 0;
  }
  /* ########## CONTACT PAGE ########## */
  .hero h1 {
    font-size: 2.4em;
    margin: 40px auto 0;
  }
  .twitter, .follow {
    max-width: 90%;
    margin: 0 auto;
  }
  #twitter-widget-0 {
    width: 100%;
  }
  .follow {
    position: static;
    left: 0;
    margin: 4% 10%;
  }
  .follow h2 {
    font-size: 1.8em;
  }
}
width="640px" height="360px" 