/* BODY */
html, body {
  background: #fff;
  font-family: 'Raleway', sans-serif;
  margin: 0;
}

.body-wrap {
  width: 100%;
  margin: 0;
}



/* HERO */
.hero {
  color: white;
  background-image: url("../img/bg-resize.jpg");
  background-size: 100%;
  height: 635px;
  position: relative;
  display: block;
}

.hero-image {
  background-color: rgba(224,74,80,.8);
  width: 100%;
  height: 100%;
  display: block;
  box-shadow: 0 -10px 30px -10px #444 inset;
}
 
.hero-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}

.hero h1 {
  font-size: 3.7em;
  margin: 0;
}

.hero p {
  font-size: 0.95em;
}



/* MAIN */
main {
  margin: 30px 0 0 0;
  text-align: center;
  color: #111;
}

.more-info h2 {
  font-size: 2.1em;
  padding: 3px;
  display: block;
  margin: 4% 0 0;
  width: 100%;
}

.more-info p {
  font-size: 0.84em;
  font-weight: 600;
  margin: 0;
}

.columns {
  width: 100%;
  overflow: hidden;
}

.col {
  width: 33%;
  float: left;
  margin-top: 50px;
}

.send-money {
  position: relative;
  left: 55px;
}

.repeat {
  position: relative;
  right: 55px;
}

.col p {
  display: inline-block;
}

.hover p {
  visibility: hidden;
  font-size: 0.70em;
  font-weight: 600;
  color: #444;
  width: 180px;
  opacity: 0;
  transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
}

.hover:hover p {
  visibility: visible;
  opacity: 1;
}

.circle {
  border-radius: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 180px;
  height: 180px;
  text-align: center;
  clear: both;
  display: block;
  margin: 0 auto;
}

.fa {
  color: #b0b0b0;
  font-size: 4.7em;
  line-height: 2.1em;
}

h3 {
  font-size: 0.95em;
  font-weight: 800;
  position: relative;
  top: -50px;
}



/* FOOTER */
footer {
  background: #1A1626;
  color: white;
  padding: 20px;
  height: 27px;
  margin: 30px 0 0;
  padding: 0 150px;
}

footer p {
  font-size: 0.55em;
  line-height: 25px;
  font-weight: 600;
  margin: 0;
}



/* MEDIA QUERIY */
@media (max-width: 767px) {
  .hero {
    color: white;
    background-image: url("../img/bg-resize-mobile.jpg");
    background-size: 100%;
    height: 120vh;
    width: 100%;
    position: relative;
    display: block;
  }
  .hero h1 {
    font-size: 3.4em;
    margin-bottom: 40px;
    padding: 0 5%
  }
  .hero p {
    font-size: 1.7em;
    font-weight: 500;
    margin: 0;
    padding: 5%;
  }
  .hero p strong {
    font-weight: 700;
  }
  .more-info h2 {
    font-size: 2.8em;
    padding: 0px;
    display: block;
    margin: 16% auto 0%;
    width: 80%;
    flex-wrap: wrap;
  }
  .more-info p {
    display: none;
  }
  .col {
    width: 100%;
    margin-top: 40px;
    position: relative;
  }
  .hover p {
    visibility: visible;
    opacity: 1;
    font-size: 1.6em;
    font-weight: 500;
    width: 85%;
    text-align: left;
  }
  .circle {
    width: 260px;
    height: 260px;
    text-align: center;
    clear: both;
    display: block;
    margin: 0 auto;
  }
  .fa {
    font-size: 6em;
    line-height: 2.1em;
  }
  h3 {
    font-size: 1.3em;
    font-weight: 800;
    position: relative;
    top: -60px;
  }
  .send-money {
    position: relative;
    left: 0px;
  }
  .repeat {
    position: relative;
    right: 0px;
  }
  footer {
    padding: 5vh;
    height: 10vh;
    margin: 5vh 0 0;
    padding: 0;
  }
  footer p {
    font-size: 1em;
    line-height: 62px;
    font-weight: 500;
    margin: 0 0 0 10%;
  }
}

